# Hadoop Config
CORE_CONF_fs_defaultFS=hdfs://namenode:9000
CORE_CONF_hadoop_http_staticuser_user=root
HDFS_CONF_dfs_replication=1
HDFS_CONF_dfs_namenode_datanode_registration_ip___hostname___check=false

# API Keys — isi dengan key kamu sendiri
AQICN_TOKEN=your_aqicn_token_here
OPENWEATHER_KEY=your_openweather_key_here
TOMTOM_KEY=your_tomtom_key_here
OPENUV_KEY=your_openuv_key_here
